<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <div class="intro-content">
    <img src="images/general/chris-hristov-fVDVGfir-J0-unsplash.jpg" alt="cars" id="homeImage">
    <div class="intro-text">
      <h1>Welcome to MoPower, <%= user ? user.profile.name : "Driver!" %>!</h1>
      <% if (user?.profile.avatar) { %>
        <div>
          <img
          src="<%= user.profile.avatar %>"
          alt="<%= user.profile.name %> avatar"
          />
        </div>
      <% } %>
    </div>
  </div>

  <h2>test</h2>
</main>

<%- include('./partials/footer') %>
