<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/cars/show.css" />
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <section>
    <div>Bought For: </div>
    <div><%= car.boughtFor %></div>
    <div>Year: </div>
    <div><%= car.year %></div>
    <div>Make: </div>
    <div><%= car.make %></div>
    <div>Model: </div>
    <div><%= car.model %></div>
    <% if (car.owner.equals(user?.profile._id)) { %>
      <form action="/cars/<%= car._id %>/edit" method="GET">
        <button id="btn" class="btn" type="submit">Edit Car</button>
      </form>
      <form action="/cars/<%= car._id %>?_method=DELETE" method="POST">
        <button id="btn" class="btn" type="submit">Delete Car</button>
      </form>
    <% } %>
  </section>
  <h2>Mods</h2>
  <% if (car.owner.equals(user?.profile._id)) { %>
    <form id="add-mod-form" action="/cars/<%= car._id %>/mods" method="POST">
      <label for="name-input">Name of Mod:</label>
      <input type="text" name="name" id="name-input">
      <label for="description-input">Description:</label>
      <input type="text" name="description" id="description-input">
      <label for="price-input">Price:</label>
      <input type="text" name="price" id="price-input">
      <label for="worthIt-checkbox">Worth It:</label>
      <input type="checkbox" name="worthIt" checked id="worthIt-checkbox">
      <label for="moPower-checkbox">MoPower:</label>
      <input type="checkbox" name="moPower" checked id="moPower-checkbox">
      <button id="btn" type="submit">Add Mod</button>
    </form>
  <% } %>
  <% if (car.mods.length) { %>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Price</th>
          <th>Worth It</th>
          <th>MoPower</th>
        </tr>
      </thead>
      <tbody>
        <% car.mods.forEach(function(mod) { %>
          <tr>
            <td><%= mod.name %></td>
            <td><%= mod.description %></td>
            <td><%= mod.price %></td>
            <td><%= mod.worthIt %></td>
            <td><%= mod.moPower %></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  <% } else { %>
    <h3>No Mods Yet</h3>
  <% } %>

  <h4>test</h4>
</main>
  
<%- include('../partials/footer') %>